@model AspLearningAPP.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "GetRandomMovies";
}

@*things to note here we can also provide attribute to html on the basis of model data
    just like the example below.*@
@{ 
    var className = Model.customers.Count > 5 ? "popular" : null;
}
<h2>@Model.movies.MovieName</h2>
<h2>@Model.movies.ReleaseYear</h2>
<h2 class=@className >Customers Holding @Model.movies.MovieName</h2>
@if (Model.customers.Count == 0)
{
    <p>No customers rented this movie ever...</p>
}
<ul>
    @foreach (var customer in Model.customers)
    {
        <li>@customer.Name</li>
    }
</ul>

